body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding-top: 50px;
}

.cards {
	width: 330px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	border-radius: 2px;
  	overflow: hidden;
  	margin: 0 auto;
}
.cards-image {
	width: 100%;
}
.cards-image img {
	width: 100%
}
.cards-box {
	padding: 15px;
}
.cards-title {
	margin: 0;
	margin-bottom: -10px;
	padding: 0;
	padding-top: 5px;
	font-size: 24px;
	font-weight: 500;
}
.cards-content p {
	line-height: 1.8em;
}
.cards-footer {
	display: block;
	margin-top: -5px;
	padding: 0 15px 2px;
}
.cards-footer a {
	text-decoration: none;
	font-weight: 600;
	padding: 10px 13px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	text-align: center;
}
.cards-footer a:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	margin-left: -60px;
	margin-top: -60px;
	background: #3f51b5;
	border-radius: 100%;
	opacity: .6;

	transform: scale(0);
}
@keyframes ripple {
	0% {
		transform: scale(0);
	}

	20% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
		border-radius: 2px;
	}
}

a:not(:active):after {
	animation: ripple 1s ease-out;
}

a:after {
	visibility: hidden;
}

a:focus:after {
	visibility: visible;
}